@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.mini {
  font-size: 10px;
}

.mark {
  font-weight: bold;
}

.big {
  font-size: 20px;
}

img.carjump{

  width: 276px;
  height: 250px;

}
